@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html{
  background-color: #232020;
}
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;

}

/* Layout and Structure */
.container {
  min-height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContent {
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 25px;
}

.spaceAround {
  padding: 10%;
}

.spaceAtStart {
  padding-top: 10%;
}

.edgeSpace {
  padding-top: 5%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 0%;
  border-radius: 25px;
}

.toolbarHolder {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1%;
  padding-top: 1%;
}

.threeBlocks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.third {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactMe {
  width: 50%;
  flex-wrap: wrap;
  border-radius: 25px;
  margin-top: 10%;
  padding: 4%;
  margin-bottom: 10%;
}

.threePointBreakBox {
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  border-radius: 25px;
}

.projectsDiv {
  padding-left: 20%;
  padding-right: 20%;
}

/* Typography */
.description {
  margin-top: 0%;
  font-size: 1vw;
}

.description2 {
  padding-left: 8%;
  padding-right: 8%;
  font-weight: 200;
  margin-top: 0%;
  font-size: 0.8vw;
}

.headline {
  letter-spacing: -0.05rem;
  line-height: 1.1;
  margin: 0;
  font-size: 3vw;
}

.timelineHeader {
  font-size: 2vw;
  letter-spacing: -0.05rem;
  line-height: 1.1;
  margin: 0;
}

.timelineTimePeriod {
  font-size: 2vw;
  letter-spacing: -0.05rem;
  line-height: 1.1;
  margin: 0;
}

.basicHeadline {
  font-size: 2rem;
  letter-spacing: -0.05rem;
  line-height: 1.1;
  margin: 0;
}

.headlineWhite {
  font-size: 2rem;
  letter-spacing: -0.05rem;
  line-height: 1.1;
  margin: 0;
  text-align: center;
  padding: 2%;
}

.point {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  font-size: 2vw;
}

.info {
  text-align: center;
  font-size: larger;
  font-weight: 300;
  font-size: 1.2vw;
}

.title {
  font-size: 1.0rem;
  margin: 0;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

/* Profile Image */
.tintedShadow {
  border-radius: 100%;
  box-shadow: 
    0 -10px 20px -5px rgba(98, 208, 255, 0.653),
    0 0 10px 5px rgba(165, 111, 69, 0.553);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.profileImage {
  transition: transform 0.8s ease-in-out;
  border-radius: 40%;
}

.profileImage:hover {
  border-radius: 40%;
  transform: scale(1.4);
}

/* Button */
.buttonStyle {
  text-decoration: none;
  border-radius: 22px;
  padding: 20px 30px;
  font-size: 1.0vw;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Divider */
.line {
  width: 100%;
  height: 3px;
  margin: 20px 0;
}

/* Education/Timeline */
.education {
  margin-top: 10%;
  text-align: center;
}

.timeline {
  padding-top: 2%;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timelineItem {
  padding: 10px 0px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timelineItem:nth-child(odd):after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

.timelineItem:nth-child(even):after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: 95%;
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

.timelineItem:nth-child(odd) {
  left: 0;
}

.timelineItem:nth-child(even) {
  left: 50%;
}

.timelineContent {
  padding: 20px;
  position: relative;
  border-radius: 6px;
}

.timelineContent h2 {
  margin-top: 0;
}

.timelineContent p {
  margin: 0;
}

.profileImage {
  transition: transform 0.8s ease-in-out;
  border-radius: 40%;
  max-width: 100%;
  height: auto;
  width: 1100px; /* or whatever size you want */
}